doctype html
html
    head
        link(rel='stylesheet', href='../css/styles.min.css')
        script(src = '/socket.io/socket.io.js')
        script(src = '../js/libs/libs.min.js')
        script(src = '../js/bundle.min.js')
    body
        header
            h1 JM Node Boiler Plate
        .container
            .main-content
                block content
        footer
            p Running express, sockets, gulp and pug.
